$glass-bg: rgba(255, 255, 255, 0.6);
$glass-border: rgba(255, 255, 255, 0.3);

$text-color: #2b2b2b;

$todo-high: #ffadad;
$todo-medium: #fdffb6;
$todo-low: #a0c4ff;
$todo-completed: #caffbf;

$radius: 16px;
$shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

$btn-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
$btn-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.5);

$btn-translate-hover: -1px;